# Compressed archives
*.tar.gz
*.tgz
*.zip
*.gz

# Single Cell / Expression Matrices
*.mtx
*.mtx.gz
*.h5
*.h5ad
*.h5seurat

# R / Environment Data
*.rds
*.RData
*.rda

# Massive Directories
**/data/
**/data_trimmed/
**/data_*/
**/*data/
**/raw_data/
**/raw/
**/quants/
**/ref/
**/reference/
**/known-sites/
**/objects/

# Ignore virtual environments
**/.venv/
venv/
env/

# Ignore heavy output/data
**/old_project
**/results/
**/data/
*.gz

# system files
*.DS_Store
# Nextflow runtime artifacts
.nextflow/
.nextflow.log*
work/
**/work/
